@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.ZXZqbvf1GLbUf2ynMDdZJ {
  opacity: 1;
}

._2jFW5Q9rQ7o4k0Hy5jL0oK {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

h1 {
  color: #235641;
  font-family: 'Dancing Script';
}

._1oWkZGjBxJduvjuGQjm9Yd {
  font-size: 50px;
  font-family: Dancing Script;
  color: #a99116;
  margin: 15px;
}

._30U0B77_2Zw3S6u2H1I61Y{
  text-decoration: underline 1px;
  font-family: 'Dancing Script';
  margin: 0;
  font-size: 40px;
}

._29UN_xV8OHdSQdRq2XTe0p {
  font-family: 'Open sans';
  font-weight: 500;
  margin: 0px 40%;
  padding: 10px;

}

body {
  background-repeat: no-repeat;
  font-size: 2rem;
  text-align: center;
  background-color: black;
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2bDH3ri20rYH10B2w3wbVeU.woff) format('woff');
} 

a {font-family: 'Roboto',serif,cursive; text-decoration:  none;}

._2P3NU2Vjzz_4d9x7Gtamf5 {
  top: 90%;
  right: 60px;
  position: absolute;
  font-size: 1rem;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-repeat: no-repeat;
    font-size: 2rem;
    text-align: center;
    backgournd-color: black;
  }
}

* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

._18NxVT_Dm1vZQgeH_R2prE {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
  margin-top: 10px;
}

.pGQE8p8sSinvfvs6NKihU {
  width: 20px;
  filter: contrast(0.2);
}
