@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.top {
  opacity: 1;
}

.bg {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
}
.positions_as {
  font-family: 'Roboto';
  font-size: 22px;
}

.projects_section {
  display: flex;
  font-family: system-ui, sans-serif;
  padding: 10px;
  background: white;
  font-size: 22px;
  margin: 5px 0;
}

.profile_image {
    height: 150px;
    background-image: url('https://media.licdn.com/dms/image/C5603AQE9Xinn_XvYjA/profile-displayphoto-shrink_200_200/0/1517610545049?e=1712793600&v=beta&t=gXsNu7eEJiBBzR1HnPOAVB3bIWFE0-owASnjBFJpBSw');
    background-repeat-x: no-repeat;
    justify-content: center;
    display: flex;
    left: calc(50% - 83px);
    width: 163px;
    position: relative;
    box-shadow: 3px 2px 7px 0px gray;
    border-radius: 50%;
}

h1 {
  color: #1532a4;
  font-family: 'Roboto';
}

.couplename {
  font-size: 50px;
  font-family: Dancing Script;
  color: #a99116;
  margin: 15px;
}

.inviteto{
  text-decoration: underline 1px;
  font-family: 'Dancing Script';
  margin: 0;
  font-size: 40px;
}

.date {
  font-family: 'Open sans';
  font-weight: 500;
  margin: 0px 40%;
  padding: 10px;

}

body {
  background-repeat: no-repeat;
  font-size: 2rem;
  text-align: center;
  background-color: #e6f2f8;
  color: #0a428c;
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2bDH3ri20rYH10B2w3wbVeU.woff) format('woff');
} 

a {font-family: 'Roboto',serif,cursive; text-decoration:  none;}

.bottom {
  top: 90%;
  right: 60px;
  position: absolute;
  font-size: 1rem;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-repeat: no-repeat;
    font-size: 2rem;
    text-align: center;
    backgournd-color: black;
  }
}

* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

.locationsvgwrapper {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
  margin-top: 10px;
}

.svg {
  width: 20px;
  filter: contrast(0.2);
}


.githublogo {
  font-family: 'sans-serif';
  font-size: 1.5rem;
  padding: 40px 10%;
  font-weight: 500;
}

.githubico {
  margin: 12px 0 -7px 10px;
}